# Ignore the virtual environment folder
redsky/
data_input/
data_output/

# Ignore other common files and folders
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
.DS_Store
.vscode/
*.log
*.sqlite3
*.tif
node_modules/
